body {
    padding: 0.5em;
    width:fit-content;
    display: flex;
}

.Rectangle2 {
    position: relative;
    width: 100%;
    height: 60vw;
    bottom: 3vw;
    top: 3vw;
    background: #FFF9F0;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 59px;
}

.block1 {
    position: absolute;
    top: 2vw;
    left: 6%;
    width: 28%;
    height: 10%;
    font-size: 6vw;
}


.Rectangle2 .text1{
    position: absolute;
    width: 50%;
    height: 45%;
    left: 6.5%;
    top: 5%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 6vw;
    line-height: 113%;
    /* or 125% */
    color: #000000;

}

h3 {

    width: 50%;
    height: 1%;
    right: 10%;

    font-family: 'Poppins';
    font-style: normal;
    position: relative;
    font-weight: 500;
    font-size: 2vw;
}

.Rectangle2 .text2 {
    position: absolute;
    height: 45%;
    top: 35vw;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 1.63vw;
    line-height: 113%;
    /* or 125% */
    color: #000000;

}



/* navigation */
.navigation {
    padding: 0;
    list-style: none;
    margin: 0;
    background: #ffffff;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;

}

.navigation a {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 2vw;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    display: block;
    color: black;
}

/* main layout */
.wrapper {

    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    
}

.wrapper>* {
    padding: 1px;
    flex: 1 100%;
}

.navigation a:hover {
    background: #ECD2A6;
}

.navigation li:last-of-type a {
    border-bottom: none;
}


/* medium sized screens */
@media all and (min-width: 600px) {
    .navigation {
        flex-flow: row wrap;
    }

    .navigation a {
        padding: 1em;
    }

}

/* large sized screens */
@media all and (min-width: 800px) {
    .navigation {
        justify-content: flex-end;
    }
}

.Rectangle87 {
    position: relative;
    width: 100%;
    height: 7vw;

    top: 5vw;
    background: linear-gradient(180deg, #ECD2A6 78.65%, rgba(236, 210, 166, 0) 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img1 {

    position: absolute;
    top: 10vw;
    left: 25%;
    width: 82vw;


}

.img2 {
    display: inline;
    width: 4vw;
    flex-flow: row wrap;
}



img {
    width: 10%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    position: relative;
    mix-blend-mode: multiply;

}



 .shop_now, .shop_now1, .shop_now2, input[type='submit'] {
    background: #000000;
    border-radius: 10px;
    color: white;
    width: 12vw;
    height: 5vw;
    left: 18%;
    top: 80%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 2vw;
    line-height: 113%;
    position: absolute;

}

.Rectangle2 .shop_now:hover {
    background: #eb8d70;
}


.newArrivals {

    position: relative;
    left: 3%;
    top: 2%;

    height: 2vw;
    text-align: start;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 3vw;

    /* or 125% */
    color: #000000;

}


.arrivals {
    top: 10%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    padding: 7%;
    justify-content: space-evenly;

}

.item {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex: 10%;
    width: 25%;
    height: 100%;

}

.itemi {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
}

.explore {
    display: flex;
    flex-wrap: wrap;;
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 10;
    width: 100%;
    height: 5%;

    padding: 0 4px;
    font-size: 1vw;
    color: #635f5f;
    background-color: #ffffff;
    border-style: none;

    tab-size: 8;

}
@media (max-width: 800px) {
    .arrivals {
      flex-direction: column;
    }
  }

.tab { 
    display:inline-block; 
    margin-left: 190px; 
}





.gifSector {
    position: relative;
    width: 100%;
    height: 60vw;
    position: relative;
    bottom: 3vw;
    top: 3vw;
    display: block;

    background: linear-gradient(137.11deg, #B28A48 0%, #D0A866 33.85%, #FAEDD8 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.block1 {
    position: absolute;
    width: 28%;
    height: 10%;
    font-size: 6vw;
}



 .GIFtext1{
    position: relative;
    width: 50%;
    left: 200%;
    top: 10%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 6vw;

    /* or 125% */
    color: #000000;

}

.GIFtext2 {
    position: relative;
    text-align: start;
    left: 200%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 2vw;
    /* or 125% */
    color: #000000;

}
.GIFtext3 {
    position: relative;

    left: 200%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 2vw;
    text-align: start;
    /* or 125% */
    color: #000000;

}
.GIFtext4 {
    position: relative;
    text-align: start;
    left: 200%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 2vw;

    /* or 125% */
    color: #000000;

}




.gif {

    padding-right: 2%;
    right: 7%;
    position: relative;
top:30%;

    width: 70%;

    mix-blend-mode: multiply;

}

.gifSector .shop_now {
    left: 60%;
}





.phone {
    position: relative;
    width: 26vw;
    height: 50vw;
    top: 2%;
    left: 0%;
    right: 2%;
    bottom: 1%;
    background: #fdfdfd;

}

.imgPhone{
    position: relative;
    height: 60%;
    width: 60%;
    left: 50%;
}

 .textPh1{
    position: relative;
    width: 150%;
    height: 25%;

    top: 5%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 3vw;
    line-height: 113%;
    /* or 125% */
    color: #000000;
    text-align: start;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.06em;
}

.textPh2 {
    position: absolute;
    height: 45%;
    top: 15vw;
    text-align: start;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 1.63vw;
    line-height: 113%;
    /* or 125% */
    color: #000000;

}


.phone .shop_now1 {
    top: 50%;
    left: 5%;
}
.phone .shop_now2 {
    top: 50%;
    left: 20%;
}




.join {
    top: 2vw;
    position: relative;
    height: 45vw;
    background: #E5704B;
    bottom: 0%;
}

.join .block1{
    left: 20vw;
    width: 30%;
}

 .textJ1{
    position: relative;
    width: 200%;
    height: 35%;

    top: 10vw;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 3vw;
    line-height: 113%;
    /* or 125% */
    color: #f8f6f6;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.06em;
}

.textJ2 {
    position: absolute;
    height: 45%;
    width: 200%;
    top: 20vw;
    text-align: start;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 1.63vw;
    line-height: 113%; 
     text-align:center;
    /* or 125% */
    color: #faf7f7;

}

.Email{
    position: absolute;
    top: 35vw;
    left: 35%;
    width: 30%;
}

input[type='email']
{
   font-size:1.3em;
   height: 3vw;
   width: 25vw;
   padding:3px;
   border-radius: 5px;
}
input[type='submit']{
    top: 10%;
    left: 70%;
    width: 6vw;
    height: 3vw;
    font-size: larger;
    border-radius: 5px; 
  
}



.appLinks {
    display: flex;
    width: auto;
    flex-wrap: wrap;
  }
  
  .appLinks .androidApp,
  .appLinks .iosApp {
    display: inline-block;
    width: 20vw;
    height: 5vw;
    border-radius: 7px;
    margin: 0 15px 15px 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  
  .appLinks .androidApp {
    background-image: url(links/Google_Play_Store_badge_EN.svg.png);
  }
  
  .appLinks .iosApp {
    background-image: url(links/appStore.png);
  }
  

  .appLinks a:focus {
    outline: 0;
  }
  
  .appLinks a:focus-visible {
    outline: 1px dashed #ffffff;
    outline-offset: 4px;
  }


h2{
    color: #faf7f7;
}
.container{

    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    padding: 7%;
    justify-content: space-evenly;

}
  .footer-clean {
    padding:50px 0;
    background-color:#090909;
    color:#767778;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    flex-direction: row;
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    flex-direction: column;
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:start;
      padding-bottom:20px;
    }
  }
  
  .col{
    text-align: start;
  }


  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
}


.rounded-social-buttons {
    text-align: center;
  }
  
  .rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
  }
  
  .rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  .rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
    font-size: 25px;
  }
  
  .rounded-social-buttons .social-button.facebook,
  .rounded-social-buttons .social-button.twitter,
  .rounded-social-buttons .social-button.linkedin,
  .rounded-social-buttons .social-button.instagram,
  .rounded-social-buttons .social-button.youtube  {

    background: #D0A866;
    color: #000;
  }
  
  .rounded-social-buttons .social-button.linkedin:hover, .social-button.youtube, .rounded-social-buttons .social-button.linkedin:focus,
  .rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus,
  .rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus,
  .rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus,
  .rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
    color: #D0A866;
    background: #fefefe;
    border-color: #D0A866;
  }
  
  





